.container{
    background-color: #EBD96B;
    height: 87.2vh;
    display: flex;
     
}
.container2{
    padding: 60px;
    /* box-shadow: 1px 1px 5px 1px rgb(78, 76, 76) ; */
    /* width: 10%; */
}
.yellow-girl{
    /* height: 968px; */
    width: 581 px;
    left: -4px;
    top: 2491px;
    border-radius: 0px;

}
.sign-up{
    font-family: "Poppins" sans-serif;
    font-size: 46px;
    justify-self: center;
    /* margin: auto; */
}