.body{
    width: 100% !important;
}
.inputs{
    outline: none;
    border: none;
    min-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
    border-radius: 50px;
}
input:invalid{
    border: 2px solid red;
}
input:valid{
    border: 2px solid green;
}

