.cart-icon{
    /* font-size: 30px; */
    /* font-weight: 650; */
    font-family: "poppins" sans-serif;
    background-color: rgb(27, 24, 24);
    color: white;
    width: 145px;
    height: 50px;
    border-radius: 15.75px;
    /* margin: auto; */
}
.basket{
    font-size: 35px;
    position: relative;
    top: 4px;
    right: 5px;
}
.cart-icon:hover{
    background-color: rgb(136, 131, 131);
    color: black;
    border: thin solid white;
}
.text-cart{
    font-size: 20px;
    font-weight: 900;
    font-family: "poppins" sans-serif;
    position: relative;
    bottom: 5px;
}
.cart-count{
    width: 40px;
    height: 50px;
    font-size: 20px;
    position: relative;
    bottom: 15px;
    left: 4px;
}