/* body{
    background-color: #EBD96B;
} */
.products-mainbox{
    margin-left: 100px;
    margin-right: 140px;
    
}
.cart-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins" sans-serif;
    /* border: thin solid black; */
}
.cart{
    font-size: 30px;
    font-weight: 650;
    text-align: center;
    align-items: center;
    border: thin solid black;
    width: 140px;
    height: 50px;
    border-radius: 20.75px;
}
.products-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: space-around;
    /* border: thin solid black; */
}
.products-text{
    font-family: "Poppins" sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0.06em;
    text-align: left;
}
.products{
    width: 224px;
    height: 448px;
    /* border: thin solid red; */
}
.product-image{
    width: 224px;
    height: 326px;
    /* border: thin solid blue; */
}
.images{
    width: 224px;
    /* height: 304px; */
}
.product-name{
    font-family: "Poppins" sans-serif;
    font-size: 15px;
    font-weight: 650;
    padding-left: 7px;
}
.product-amount{
    font-family: "Poppins" sans-serif;
    font-size: 15px;
    font-weight: 630;
}
.addtocart{
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

