.main{
    background-color:  #EBD96B;
    padding-bottom: 70px;
}
.products-mainbox{
    margin-left: 130px;
    margin-right: 130px;
}
.cart-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins" sans-serif;
}
.products-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: space-around;
}
.products-text{
    font-family: "Poppins" sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0.06em;
    text-align: left;
}
.products{
    width: 224px;
    height: 448px;
    /* border: thin solid red; */
}
.product-image{
    width: 224px;
    height: 326px;
    /* border: thin solid blue; */
}
.images{
    width: 224px;
    /* height: 304px; */
}
.product-name{
    font-family: "Poppins" sans-serif;
    font-size: 15px;
    font-weight: 650;
    padding-left: 7px;
}
.product-amount{
    font-family: "Poppins" sans-serif;
    font-size: 15px;
    font-weight: 630;
}
.addtocart{
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

